@model Webform_CRUD_Application.Models.WidgetEntity
@{
    ViewData["Title"] = "Delete Widget";
}

<h1>Delete Widget</h1>

<br>
<form asp-action="DeleteWidgetDetails">
    
    <fieldset>
        <legend class="reset">Widget Form</legend>
        <div class="row">
            <div class="col-6">
                <input asp-for="WidgetId" hidden>
                <label asp-for="InventoryCode">Inventory Code:</label>
                @Html.TextBoxFor(model => model.InventoryCode, new {@class = "form-control", @readonly = "readonly"})

            </div>
            <div class="col-6">
                <label asp-for="Description">Description:</label>
                @Html.TextBoxFor(model => model.Description, new {@class = "form-control", @readonly = "readonly"})
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label asp-for="QuantityOnHand">Quantity On Hand:</label>
                @Html.TextBoxFor(model => model.QuantityOnHand, new {@class = "form-control", @readonly = "readonly"})
            </div>
            <div class="col-6">
                <label asp-for="ReorderQuantity">Reorder Quantity:</label>
                @Html.TextBoxFor(model => model.ReorderQuantity, new {@class = "form-control", @readonly = "readonly"})
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-outline-danger"/>
        </div>
    </fieldset>
</form>


<br>
<div>
    <a asp-action="Index" class="btn btn-info">Back to Home</a>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
